<div class="hentry">
	<h2 class="entry-title">
	  <a href="<%= url(:article,article) %>" class="bookmark" rel="bookmark">
	    <%= h article.title %>
	  </a>
	</h2>
	<p class="published">
		<%= article.published_at.strftime("%H:%M %m/%d/%Y") %>
	</p>
	<div class="entry-content"><%= article.body %></div>
	<div class="bottom"></div>
</div>
