<h1>Latest Articles</h1>

<div class="container">
  <% unless @articles.blank? -%>
    <%= partial 'article', :with => @articles %>
  <% else -%>
    <h2>No articles created yet</h2>
  <% end -%>
</div>