body{margin:0; }
#header{background:#333;padding:0 2em;}
#header a.title{color:#eee;text-decoration:none;font-size:3em;font-weight:bold;margin:0;}
#header p.alt{color:#ccc;font-size:1.5em;margin:0;}
#main{padding:2em 1em 4em;border-left:1px solid #ccc;border-right:1px solid #ccc;}